DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=replace-for-non-local-environments
POSTGRES_DB=athena
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=athena_dev
POSTGRES_PORT=5432
POSTGRES_USER=athena
