ATHENA_DOMAIN=api.example.org
CORS_ALLOWED_ORIGINS=https://mlee-sinphy.github.io
DJANGO_ALLOWED_HOSTS=api.example.org
DJANGO_SECRET_KEY=generate-a-long-random-value
POSTGRES_DB=athena
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=generate-a-long-random-value
POSTGRES_PORT=5432
POSTGRES_USER=athena
GUNICORN_WORKERS=3
